/* CSS INDEX HEADER */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  align-items: center;
  background-color: #a30b1b ;
  margin-bottom: 25px;
}

header img{
  height: 100px;
}

.navbar-brand{
  color: orange;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 25px;
  margin-left:10px;
}


body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url('../multimedia/pexels-dan-cristian-pădureț-5514633.jpg');
}

main{
  height: 100%;
}

.encabezado-contenedor-img { 
  margin: auto;
  border-radius: 20px;
  width: 600px;
  height: 380px;
  align-self: center;
  }

  .titulo-header{
    width: 98%;
    
    text-align:center;
    vertical-align: middle;
   
    color: black;
    font-weight: bold;
    font-size: 25px;
  }

  



/* CSS CONTACT MAIN*/

.bodyContact {
  background-image: url('../multimedia/pexels-dan-cristian-pădureț-5514633.jpg');
}

.form-register {
  width: 500px;
  background: #736a39;
  padding: 30px;
  margin: auto;
  margin-top: 80px;
  border-radius: 4px;
  font-family: 'calibri';
  color: white;
  box-shadow: 7px 13px 37px #000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.coments {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: 'calibri';
  font-size: 18px;
  color: white;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}




/* css carrousel */

.menu-container {
  background-color: black;
  width: 100%;
}

.logo-img {
  height: 100px;
}


.navbar-toggler-icon {
  background-color: gold;
  border: 3px solid gray;
}

/* Index */

/* Carousel */

img {
  img{
      object-fit: cover;
      width:100%;
      height:100%;
    }
}

.carousel-inner {
  margin: auto;
  width: 65%;
  max-height: 650px;
  border: 5px solid black;
}

.first-title {
  color: white;
  -webkit-text-stroke: 1px black;
  display: flex;
  margin: 1%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}













  /* CSS FOOTER */

.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color:#a30b1b ;
}

.footer .col {
  width: 190px;
  height: auto;
  float: right;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 15px 15px 15px;
}

.footer .col h2 {
  margin: 5%;
  padding: 0;
  text-align: center;
  font-family: inherit;
  font-size: 16px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: orange;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}

.footer .col ul {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.clearfix {
  clear: both;
}

.foot {
  border-top: 1px solid #e2e2e2;
  color: gold;
}
