@charset "UTF-8";
/* VARIABLES */ /* UNIVERSAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}

body {
  background-image: url("../multimedia/pexels-dan-cristian-pădureț-5514633.jpg");
  position: relative;
}

/* MAIN*/
.tituloPagina {
  color: #a30b1b;
  font-size: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-variant: unset;
  text-align: center;
}

.contenedorFrente {
  margin: auto;
  border-radius: 20px;
  width: 600px;
  height: 380px;
  align-self: center;
}

.parrafoFrente {
  width: 95%;
  text-align: center;
  vertical-align: middle;
  color: black;
  font-weight: bold;
  font-size: 25px;
  padding-left: 5rem;
}

.fotosSecciones {
  margin-top: 3rem;
}
.fotosSecciones img {
  width: 120%;
  position: relative;
  z-index: 1;
  margin-bottom: 1.5rem;
  border-radius: 15px;
}

.textoSecciones h2,
.textoSecciones h3,
.textoSecciones h4 {
  margin-top: 3rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: secondary-color;
  font-weight: bold;
  font-size: 35px;
}
.textoSecciones p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: secondary-color;
  font-size: 25px;
  text-align: justify;
}

/* US*/
.parrafoUs {
  width: 98%;
  text-align: justify;
  vertical-align: middle;
  padding-left: 5%;
  padding-right: 4%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
  font-weight: 600;
}

/* TABLAS */
.cajaMedidas {
  align-items: center;
}

.tituloMedidas {
  text-align: center;
  padding-top: 30px;
  margin: auto;
  color: black;
  font-weight: bold;
}

/* CSS HEADER */
header {
  align-items: center;
  background-color: #a30b1b;
  margin-bottom: 25px;
}
header img {
  height: 130px;
  margin-left: 30px;
}

.nav-link {
  color: orange;
  font-family: "Vast Shadow", cursive;
  font-size: 25px;
}

.dropdown-menu {
  background-color: #a30b1b;
  border-color: #ffa500;
}

.dropdown-item {
  color: #ffa500;
  font-family: "Vast Shadow", cursive;
  font-size: 20px;
}

/* CSS FOOTER */
footer {
  margin-top: 2rem;
  background-color: #ffa500;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: #a30b1b;
  border-width: 2px;
  border-style: solid;
}

.logoFooter {
  height: 120px;
  margin-bottom: 1rem;
}

.contenedorSociales {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.contenedorFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  list-style-type: none;
  color: #a30b1b;
  font-size: 18px;
}

.iconoSocial {
  background-color: #a30b1b;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #a30b1b;
  background-image: url(../multimedia/whatsapp-blanco.png);
  background-position: center;
  background-size: 40%;
  background-repeat: no-repeat;
  margin: 1rem;
}
.iconoSocial:hover {
  background-color: #ffa500;
}
.iconoSocial:nth-of-type(2) {
  background-image: url(../multimedia/FacebookBlanco.png);
}
.iconoSocial:nth-of-type(3) {
  background-image: url(../multimedia/InstagramBlanco.png);
}

.menuItem {
  text-align: center;
  font-family: "Vast Shadow", cursive;
  color: #a30b1b;
  text-decoration: none;
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.9;
}
.menuItem:hover {
  opacity: 2;
}

.copyright {
  color: #a30b1b;
  text-align: center;
}

/* CARROUSEL */
.menu-container {
  background-color: black;
  width: 100%;
}

.logo-img {
  height: 100px;
}

.navbar-toggler-icon {
  background-color: #ffa500;
  border: 3px solid gray;
}

.carousel-inner {
  margin: auto;
  width: 65%;
  max-height: 550px;
  border: 5px solid black;
}

.first-title {
  color: white;
  -webkit-text-stroke: 1px black;
  display: flex;
  margin: 1%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.img-fluid {
  width: 350px;
  border-radius: 20px;
  transition: all 0.7s;
}
.img-fluid:hover {
  transform: translateY(-12px);
}

/* CONTACT */
.formularioRegistro {
  width: 500px;
  background: #736a39;
  padding: 30px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 30px;
  border-radius: 4px;
  font-family: "calibri";
  color: white;
  box-shadow: 7px 13px 37px #000;
}
.formularioRegistro h1 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controles,
.comentarios {
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}

.formularioRegistro a {
  color: white;
  text-decoration: none;
}
.formularioRegistro a:hover {
  color: white;
  text-decoration: underline;
}
.formularioRegistro .botons {
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
}

/* MEDIAQUERYS */
@media (max-width: 349px) {
  .parrafoFrente {
    width: 98%;
    text-align: justify;
    vertical-align: middle;
    padding-left: 10%;
    padding-top: 5%;
  }
  .contenedorFrente {
    margin: auto;
    border-radius: 15px;
    width: 350px;
    height: 300px;
    align-self: center;
    padding-left: 2.2rem;
  }
  .nav-link {
    color: orange;
    font-family: "Vast Shadow", cursive;
    font-size: 12px;
  }
  .dropdown-menu {
    background-color: #a30b1b;
    border-color: #ffa500;
  }
  .dropdown-item {
    font-family: "Vast Shadow", cursive;
    color: #ffa500;
    font-size: 12px;
  }
  .fotosSecciones {
    padding-left: 1.2rem;
  }
  .textoSecciones h2,
  .textoSecciones h3,
  .textoSecciones h4 {
    font-size: 25px;
    text-align: center;
  }
  .textoSecciones p {
    display: none;
  }
  .tituloPagina {
    text-align: center;
    font-size: 28px;
  }
  .contenedorFooter {
    padding-left: 0;
  }
  .parrafoUs {
    font-size: 16px;
    font-weight: 500;
  }
}
@media (max-width: 576px) and (min-width: 350px) {
  .parrafoFrente {
    width: 98%;
    text-align: justify;
    vertical-align: middle;
    padding-left: 10%;
    padding-top: 5%;
  }
  .contenedorFrente {
    margin: auto;
    border-radius: 15px;
    width: 350px;
    height: 300px;
    align-self: center;
    padding-left: 2rem;
  }
  .nav-link,
  .dropdown-item {
    font-size: 15px;
  }
  .img-fluid {
    width: auto;
    border-radius: 20px;
    padding-left: 3rem;
  }
  .fotosSecciones {
    padding-left: 1.8rem;
  }
  .textoSecciones h2,
  .textoSecciones h3,
  .textoSecciones h4 {
    font-size: 28px;
    text-align: center;
  }
  .textoSecciones p {
    display: none;
  }
  .footer-menu-container {
    padding-left: 0;
  }
  .welcome-img {
    margin: auto;
    margin-left: 1.5rem;
  }
  .welcome-text {
    margin: auto;
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 768px) and (min-width: 576px) {
  .contenedorFrente {
    margin: auto;
    border-radius: 15px;
    width: 400px;
    height: 330px;
    align-self: center;
  }
  .nav-link,
  .dropdown-item {
    font-size: 18px;
  }
  .img-fluid {
    width: 550px;
    border-radius: 20px;
    padding-left: 4rem;
  }
  .textoSecciones h2,
  .textoSecciones h3,
  .textoSecciones h4 {
    font-size: 32px;
    text-align: center;
  }
  .textoSecciones p {
    display: none;
  }
  .footer-menu-container {
    padding-left: 0;
  }
}
@media (max-width: 992px) and (min-width: 768px) {
  .contenedorFrente {
    margin: auto;
    border-radius: 15px;
    width: 500px;
    height: 375px;
    align-self: center;
  }
  .nav-link,
  .dropdown-item {
    font-size: 20px;
  }
  .textoSecciones h2,
  .textoSecciones h3,
  .textoSecciones h4 {
    font-size: 32px;
    text-align: center;
  }
  .textoSecciones p {
    font-size: 25px;
  }
}
@media (max-width: 1400px) and (min-width: 992px) {
  .parrafoFrente {
    margin-top: 20px;
    width: 85%;
    margin-left: 7.5%;
    text-align: justify;
    vertical-align: middle;
    color: black;
    font-weight: bold;
    font-size: 25px;
  }
  .contenedorFrente {
    margin: auto;
    border-radius: 20px;
    width: 600px;
    height: 450px;
    align-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
