/* CSS FOOTER */

footer {
	margin-top: 2rem;
	background-color: $tertiary-color;
	width: 100%;
	bottom: 0;
	left: 0;
	padding: 2rem 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-top:  $primary-color;
	border-width: 2px;
	border-style: solid;

}
.logoFooter {
	height: 120px;
	margin-bottom: 1rem;
	
}
.contenedorSociales {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}
.contenedorFooter{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 1rem;
	list-style-type: none;
	color: $primary-color;
	font-size: 18px;
}
.iconoSocial{
	background-color: #a30b1b;
	height: 50px;
	width: 50px;
	border-radius: 50px;
	border: 1px solid $primary-color;
	background-image: url(../multimedia/whatsapp-blanco.png);
	background-position: center;
	background-size: 40%;
	background-repeat: no-repeat;
	margin: 1rem;
	&:hover {
		background-color: $tertiary-color;
		
	}
	&:nth-of-type(2) {
		background-image: url(../multimedia/FacebookBlanco.png);
	}
	&:nth-of-type(3) {
		background-image: url(../multimedia/InstagramBlanco.png);
	}
	
}
.menuItem{
	text-align: center;
	font-family: $primary-font-family;
	color: $primary-color;
	text-decoration: none;
	margin: 1rem 1.5rem;
	cursor: pointer;
	opacity: 0.9;
	&:hover {
		opacity: 2;
	}
}
.copyright {
	color: $primary-color;
	text-align: center;
}