/* MEDIAQUERYS */

@media (max-width: 349px) {

    .parrafoFrente {
        width: 98%;
        text-align: justify;
        vertical-align: middle;
        padding-left: 10%;
        padding-top: 5%;
    }

    .contenedorFrente {
        margin: auto;
        border-radius: 15px;
        width: 350px;
        height: 300px;
        align-self: center;
        padding-left: 2.2rem;
    }

    .nav-link {
        color: orange;
        font-family: $primary-font-family;
        font-size: 12px;
    }

    .dropdown-menu {
        background-color: $primary-color;
        border-color: $tertiary-color;
    }

    .dropdown-item {
        font-family: $primary-font-family;
        color: $tertiary-color;
        font-size: 12px;
    }

    .fotosSecciones {
        padding-left: 1.2rem;
    }

    .textoSecciones {

        h2,
        h3,
        h4 {

            font-size: 25px;
            text-align: center;

        }


        p {
            display: none;
        }
    }

    .tituloPagina {
        text-align: center;
        font-size: 28px;
    }

    .contenedorFooter {

        padding-left: 0;
    }

    .parrafoUs {

        font-size: 16px;
        font-weight: 500;
    }

}

@media (max-width: 576px) and (min-width: 350px) {

    .parrafoFrente {
        width: 98%;
        text-align: justify;
        vertical-align: middle;
        padding-left: 10%;
        padding-top: 5%;
    }

    .contenedorFrente {
        margin: auto;
        border-radius: 15px;
        width: 350px;
        height: 300px;
        align-self: center;
        padding-left: 2rem;
    }

    .nav-link,
    .dropdown-item {
        font-size: 15px;
    }

    .img-fluid {
        width: auto;
        border-radius: 20px;
        padding-left: 3rem;
    }

    .fotosSecciones {
        padding-left: 1.8rem;
    }

    .textoSecciones {

        h2,
        h3,
        h4 {

            font-size: 28px;
            text-align: center;

        }


        p {
            display: none;
        }
    }

    .footer-menu-container {

        padding-left: 0;
    }


    .welcome-img {
        margin: auto;
        margin-left: 1.5rem;
    }

    .welcome-text {
        margin: auto;
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
    }
}


@media (max-width: 768px) and (min-width: 576px) {

    .contenedorFrente {
        margin: auto;
        border-radius: 15px;
        width: 400px;
        height: 330px;
        align-self: center;
    }

    .nav-link,
    .dropdown-item {
        font-size: 18px;
    }

    .img-fluid {
        width: 550px;
        border-radius: 20px;
        padding-left: 4rem;
    }

    .textoSecciones {

        h2,
        h3,
        h4 {

            font-size: 32px;
            text-align: center;

        }


        p {
            display: none;
        }
    }

    .footer-menu-container {

        padding-left: 0;
    }
}

@media (max-width: 992px) and (min-width: 768px) {

    .contenedorFrente{
        margin: auto;
        border-radius: 15px;
        width: 500px;
        height: 375px;
        align-self: center;
    }

    .nav-link,
    .dropdown-item {
        font-size: 20px;
    }

    .textoSecciones {

        h2,
        h3,
        h4 {

            font-size: 32px;
            text-align: center;

        }


        p {
            font-size: 25px; 
        }
    }


}

@media (max-width: 1400px) and (min-width: 992px) {

    .parrafoFrente {
        margin-top: 20px;
        width: 85%;
        margin-left: 7.5%;
        text-align: justify;
        vertical-align: middle;
        color: black;
        font-weight: bold;
        font-size: 25px;
    }

    .contenedorFrente {
        margin: auto;
        border-radius: 20px;
        width: 600px;
        height: 450px;
        align-self: center;
    }
}