$primary-color: #a30b1b;
$secondary-color: #000000;
$tertiary-color: #ffa500;
$primary-font-family:'Vast Shadow', cursive;
$secondary-font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;





